{% extends 'base.html' %}

{% block content %}
    <h1>New User</h1>

    <a href="{{ url_for('index') }}">Back</a>

    <form action="{{ url_for('create_member') }}" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <input name="first_name" value="{{ first_name }}">
        <input name="last_name" value="{{ last_name }}">
        <input type="submit" value="Submit">
    </form>
{% endblock %}
